
{% load static %}
<!-- START HeaderTop -->

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg ls-normal">Bienvenue à notre boutique</p>
            </div>
            <div class="header-right">
                <span class="divider"></span>
                <a href="store-listing.html" class="contact d-lg-show"><i class="d-icon-map"></i>Vendors</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'core:mon-compte' %}" class="help d-lg-show"><i class="d-icon-info"></i> Mon Compte</a>
                    <a href="{% url 'core:logout' %}" class="help d-lg-show"><i class="d-icon-info"></i> Déconnexion</a>
                {% else %}                 
                    <a class="ml-3" href="{% url 'core:login' %}"><i class="d-icon-user mr-1"></i>Connexion</a>
                    <span class="delimiter">/</span>
                    <a class="ml-0" href="{% url 'core:inscription-client' %}">Inscription</a>
                    <!-- End of Login -->
                {% endif %} 
               
            </div>
        </div>
    </div>
    <!-- End HeaderTop -->
    <div class="header-middle sticky-header fix-top sticky-content">
        <div class="container">
            <div class="header-left mr-4">
                <a href="#" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>
                <a href="/" class="logo">
                    <img src="{% static 'front/images/demos/demo-market1/logo.png' %}" alt="logo" width="153" height="44" />
                </a>
                <!-- End Logo -->

                <div class="header-search hs-expanded">
                    <form action="#" class="input-wrapper">
                        <div class="select-box">
                            <select name="cat" class="cat">
                                <option value="all-cat" selected>Tous</option>
                                {% for ca in categories %}
                                <option value="travel">{{ca.desigantion}}</option> 
                                {% endfor %}                                   
                            </select>
                        </div>
                        <input type="text" class="form-control" name="search" autocomplete="off"
                            placeholder="Rechercher un article..." required />
                        <button class="btn btn-search" type="submit">
                            <i class="d-icon-search"></i>
                        </button>
                    </form>
                </div>
                <!-- End Header Search -->
            </div>
            <div class="header-right">
                <div class="icon-box icon-box-side">
                    <div class="icon-box-icon mr-0 mr-lg-2">
                        <i class="d-icon-phone"></i>
                    </div>
                    <div class="icon-box-content d-lg-show">
                        <h4 class="icon-box-title text-dark text-normal">
                            <a href="mailto:contact@saldaesystems.com" class="text-primary d-inline-block">Assistance</a> ou:</h4>
                        <p><a href="tel:#">0(800) 123-456</a></p>
                    </div>
                </div>
                <span class="divider mr-4"></span>
                <a href="#" class="compare">
                    <i class="d-icon-compare"></i>
                </a>
                <a href="{% url 'core:wishliste' %}" class="wishlist">
                    <i class="d-icon-heart"></i>
                </a>
                <span class="divider"></span>
                <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
                    <a href="#" class="cart-toggle label-block link">
                        <div class="cart-label d-lg-show">
                            <span class="cart-name">Panier:</span>
                            <span class="cart-price">{% if panier %} {{panier.get_total}} DA {% else %} 0.00 DA {% endif %}</span>
                        </div>
                        <i class="d-icon-bag"><span class="cart-count">{% if panier.articles %} {{panier.articles.count}} {% else %} 0 {% endif %}</span></i>
                    </a>
                    <div class="cart-overlay"></div>
                    <!-- End Cart Toggle -->
                    <div class="dropdown-box">
                        <div class="cart-header">
                            <h4 class="cart-title">Panier</h4>
                            <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">Fermer<i
                                    class="d-icon-arrow-right"></i><span class="sr-only">Panier</span></a>
                        </div>
                        <div class="products scrollable">
                            {% for i in panier.articles.all %}
                            <div class="product product-cart">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="{{i.produit.image.url}}" alt="product" width="80"
                                            height="88" />
                                    </a>
                                    <button class="btn btn-link btn-close">
                                        <i class="fas fa-times"></i><span class="sr-only">Fermer</span>
                                    </button>
                                </figure>
                                <div class="product-detail">
                                    <a href="#" class="product-name">{{i.produit.designation}}</a>
                                    <div class="price-box">
                                        <span class="product-quantity">{{i.quantite}}</span>
                                        <span class="product-price">{{i.get_total_item_price}}</span>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Cart Product -->
                            {% endfor %}
                           
                        </div>
                        <!-- End of Products  -->
                        {% if panier %}
                        <div class="cart-total">
                            <label>Total:</label>
                            <span class="price">{{panier.get_total}}</span>
                        </div>
                        <!-- End of Cart Total -->
                        {% else %} 
                        <br></br>
                        <br></br>
                        {% endif %}
                        
                        {% if panier %}
                        <div class="cart-action">
                            <a href="{% url 'core:mon-panier' %}" class="btn btn-dark btn-link">Panier</a>
                            <a href="{% url 'core:passer-commande' %}" class="btn btn-dark"><span>Confirmer la commande</span></a>
                        </div>
                        <!-- End of Cart Action -->
                        {% else %} 
                        <div class="cart-action">
                            <a href="{% url 'core:mon-panier' %}" class="btn btn-dark btn-link">Panier</a>
                            <a href="#" class="btn btn-dark">Voir la boutique</a>                 
                        </div>
                        <!-- End of Cart Action -->
                        {% endif %}
                    </div>
                    <!-- End Dropdown Box -->
                </div>
            </div>
        </div>
    </div>

    <!--CATEGORIE HEADER-->
    <div class="header-bottom" >
        <div class="container">
            <nav class="menu category-menu" style="background-color:white; border-style:solid;">
                {% for c in categories %}
                <div class="category category-icon" >
                    <a href="market1-shop.html" style="margin-top: -25px;">
                        <figure class="categroy-media">
                            <img src="{{c.image.url}}" style="height: 45px;width: 45px; ">
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name" style="color: black;">{{c.desigantion}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}                
                <div class="category category-icon">
                    <a href="market1-shop.html">
                        <figure class="categroy-media">
                            <i class="d-icon-category" style="color: black;"></i>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name" style="color: black;">Toutes les catégories</h4>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <!--FIN CATEGORIE HEADER-->
</header>
<!-- End Header -->

