
{% load static %}
<!-- Plugins JS File -->
<script src="{% static 'front/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'front/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
<script src="{% static 'front/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'front/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'front/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'front/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'front/vendor/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'front/vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'front/vendor/elevatezoom/jquery.elevatezoom.min.js' %}"></script>
<script src="{% static 'front/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'front/js/webfont.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'front/js/main.min.js' %}"></script>