{% extends 'front/base.html' %} 
{% load static %} 

{% block content %} 

<div class="page-content mb-10 pb-3">
<div class="container">
<div class="login-popup">
    <div class="form-box">
        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active border-no lh-1 ls-normal" href="#signin">Connexion</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="signin">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="singin-email" name="username" placeholder="Nom d'utilisateur *" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="singin-password" name="password" placeholder="Mot de passe *"
                                required />
                        </div>
                        <div class="form-footer">
                            <div class="form-checkbox">
                                <input type="checkbox" class="custom-checkbox" id="signin-remember"
                                    name="signin-remember" />
                                <label class="form-control-label" for="signin-remember">Remember
                                    me</label>
                            </div>
                            <a href="#" class="lost-link">Mot de passe oublié ?</a>
                        </div>
                        <button class="btn btn-dark btn-block btn-rounded" type="submit">CONNEXION</button>
                    </form>
                    <div class="form-choice text-center">
                        <label class="ls-m">ou Connectez vous avec</label>
                        <div class="social-links">
                            <a href="#" class="social-link social-google fab fa-google border-no"></a>
                            <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                            <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}